/* Variables */
:root {
  --col: rgb(160, 32, 240);
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
html {
  height: 100vh;
}

body {
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/img/space-tint.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  animation: 0.7s fadeIn;
  background-color: #081d28;
  font-family: 'Montserrat';
}

/* Center */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: calc(100% - 135px);
  text-align: center;
}

.horizon-center {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes rotation {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotationBack {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}

/* Utilities */
br {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Main Content */
#mainContent {
  color: white;
  text-align: center;
  animation: 0.7s fadeIn;
  /*padding: 30px 50px;
  background-color: rgba(0,0,0,0.6);
  border-radius: 5px;*/
}

/* Game Content */
#gamContent {
  margin: auto;
  font-family: 'Montserrat';
  color: lightgray;
  padding: 30px 50px;
  text-align: center;
  align-items: center;
}

#gamContent #glist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

/* Links */
#gamContent a {
  transition-duration: 0.2s;
  text-decoration: none;
  color: rgb(110, 150, 160);
  position: relative;
  text-align: center;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  padding: 15px;
  margin: 10px 20px;
  font-size: 15px;
  background-color: rgba(0,0,0,0.4);
  border-radius: 200px;
}

#gamContent a:hover {
  background-color: rgba(0,0,0,0.7);
}

#gamContent a:nth-child(4n):after {
  content: "";
  display: block;
  height: 0;
  width: 1px;
}

/* Settings */
.settings {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

.setting {
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgba(0, 20, 30, 0.7);
  width: 350px;
  height: 230px;
  margin-bottom: 25px;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid rgb(40,70,80);
  box-shadow: 0 0 3px 1px rgb(40,70,80);
  color: rgb(190,190,190);
  transition-duration: 0.3s;
}

.setting:hover {
  box-shadow: 0 0 5px 2px rgb(40,70,80);
}

/* Loading */
#loading {
  display: none;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  color: rgb(200,200,200);
  font-size: 13px;
  gap: 8px;
  margin-bottom: 15px;
}

.loader {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  border: 2px solid;
  border-color: rgb(2
