/*
Targets the body of the webpage with the class "my-website".
Sets the margin and padding to 0, and specifies the font family as Arial,
with a fallback font of sans-serif. Sets the background color to white
and the text color to black.
*/
body.my-website {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: white;
  color: black;
}

/*
Hides elements with the class "classwork-item" by setting their display
property to "none".
*/
.classwork-item {
  display: none;
}

/*
Targets links with the class "nav-link". Sets the color to a specific
shade of blue using the hsl color model.
*/
.nav-link {
  color: hsl(215, 30%, 50%);
}

/*
Changes the color of links with the class "nav-link" when they are
hovered over. Increases the saturation and decreases the lightness of
the color slightly.
*/
.nav-link:hover {
  color: hsl(215, 40%, 40%);
}
