/* Set background color and font family for body and html elements */
body, html {
  margin: 0;
  padding: 0;
  background: #191F27;
  overflow: hidden;
  font-family: 'Trebuchet MS', Chalkboard, ChalkboardSE-Regular, sans-serif;
}

/* Set transition property for all elements */
* {
  -webkit-transition: opacity .15s, left .15s, transform .15s, top .15s;
  transition: opacity .15s, left .15s, transform .15s, top .15s;
}

/* Style for tooltip element */
#tt, #tt-inner, .close {
  border: 3px solid #4AADFF;
  border-radius: 8px;
  color: #2C70A8;
}

/* Style for tooltip inner element */
#tt-inner {
  background: rgba(255, 255, 255, .8);
  padding: 10px 30px;
}

/* Style for tooltip inner element when it has scrollbars */
#tt-inner.scroll {
  overflow: auto;
  font-size: 25px!important;
  max-height: 85%;
}

/* Style for attribute element */
.attr, .attr a {
  color: #fff;
}

/* Style for close button */
.close {
  bottom: 20px;
  right: 20px;
  background: #CCE7FE;
  font-weight: 700;
  font-size: 24px;
  line-height: 45px;
  cursor: pointer;
  padding: 0 2em;
}

/* Style for tooltip and tooltip inner elements when they are hidden */
#tt, #tt-inner, .close {
  opacity: 0;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

/* Style for tooltip element when it is active */
#tt.active {
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* Style for tooltip element when it is hidden */
#s {
  opacity: 0;
  z-index: 9;
  left: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .5);
}

/* Style for tooltip image element */
#tt img {
  margin: 0 auto;
  padding-bottom: 20px;
  max-width: 200px;
}

/* Style for bottom element */
#b {
  bottom: 10px;
  left: -10em;
  background: #5bf;
  border: 1px solid #fff;
  border-left-style: none;
  padding: 10px;
  font-size: 40px;
}

/* Style for bottom a and menu div elements */
#b a, #menu > div {
  cursor: pointer;
  border-radius: 2px;
}

/* Style for pill element */
.pill {
  color: #ddd;
  background: #ACB2B7;
  padding: .5em;
  margin: .5em 0;
}

/* Style for pill element when it is active */
.pill.active {
  background: #3184C7;
  color: #fff;
}

/* Style for tooltip left element */
#tl {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 15%;
  max-width: 8pc;
  background: #5bf;
  border-left: 1px solid #fff;
  transform: translateX(110%);
  overflow-y: auto;
}

/* Style for tooltip left element when it is active */
#tl.active {
  transform: translateX(0);
}

/* Style for media queries */
@media(min-width: 800px) {
  #tt {
    left: 20%;
    right: 20%;
    top: 75pt;
    bottom: 75pt;
  }
  #tt-inner {
    padding: 30px 50px;
  }
}

@media(max-height: 768px) {
  #tt {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    border: none;
  }
  #tt img {
    max-height: 200px;
  }
}

@media(max-height: 490px) and (orientation: landscape) {
  #tt {
    padding-left: 150px;
  }
  #tt img {
    position: absolute;
    left: 20px;
    top: 50px;
  }
}

@media(max-width: 800px) {
  #b {
    font-size: 20px;
  }
}

/* Define animations */
@-webkit-keyframes rubberBand {
  100%, from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, .75, 1);
    transform: scale3d(1.25, .75, 1);
  }
  40% {
    -webkit-transform: scale3d(.75, 1.25, 1);
    transform: scale3d(.75,
