/* Fonts */
body,
.tooltip,
select.menuBtn {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
}

html,
body {
	height: 100%;
	margin: 0;
}

::selection,
::-moz-selection {
	background-color: transparent;
}

#description textarea::selection,
#description textarea::-moz-selection {
	background-color: gray;
}

/* Framework stuff */
.clear {
	clear: both;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

div#wrapper {
	margin: auto;
	width: 700px;
	padding: 20px 0 0 220px;
	overflow: hidden;
}

div#saveNotify {
	top: 20px;
	right: 0px;
	background: white;
	opacity: 0;
}

div#content {
	height: 700px;
	overflow: hidden;
}

div#header {
	padding-bottom: 20px;
	height: 20px;
}

.logo {
	left: 10px;
	bottom: 0;
	z-index: 10;
}

.logo-icon {
	height: 40px;
}

.logo-icon > path {
	stroke: black;
}

.menu {
	right: 10px;
	bottom: 10px;
	color: #666;
	z-index: 10;
}

.menu span {
	cursor: pointer;
	float: right;
	margin-left: 20px;
}

/* Notifications */
div#notifications {
	top: 20px;
	left: 0px;
	height: 700px;
	width: 200px;
	overflow: hidden;
}

div#notifyGradient {
	height: 100%;
	width: 100%;
	background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
	filter: alpha(Opacity=0, FinishOpacity=100, Style=1, StartX=0, StartY=0, FinishX=0, FinishY=500);
}

/* Button */
div.button {
	text-align: center;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

div.button:hover {
	text-decoration: underline;
}

div.button.disabled,
div.button.disabled:hover {
	cursor: default;
	border-color: #b2b2b2;
	color: #b2b2b2;
	text-decoration: none;
}

/* Up/Down buttons. They're complicated! */
.upBtn,
.dnBtn,
.upManyBtn,
.dnManyBtn {
	width: 14px;
	height: 12px;
	cursor: pointer;
}

.upBtn,
.dnBtn {
	right: 0px;
}

.upManyBtn,
.dnManyBtn {
	right: -15px;
}

.upBtn.disabled,
.dnBtn.disabled,
.upManyBtn.disabled,
.dnManyBtn.disabled {
	cursor: default;
}

/* Tooltip */
div.tooltip {
	display: none;
	padding: 2px 5px;
	border: 1px solid black;
	position: absolute;
	box-shadow: -1px 3px 2px #666;
	background: white;
	z-index: 999;
}

.tooltip.bottom,
.tooltip.top {
	padding: 5px 5px;
}

.tooltip.right {
	left: 2px;
}

.tooltip.left {
	right: 0px;
}

.tooltip.bottom {
	top: 30px;
}

.tooltip.top {
	bottom: 20px;
}

*:hover > div.tooltip {
	display: block;
}

div.tooltip:hover {
	display: none !important;
}

.disabled:hover > div.tooltip,
.button.free:hover > div.tooltip {
	display: none;
}

#event .button.disabled:hover > div.tooltip {
	display: block;
}

/* Events */
.eventPanel {
	background: none repeat scroll 0 0 white;
	border: 2px solid transparent;
	padding: 20px;
	position: absolute;
	top: 90px;
	width: 335px;
	z-index: 20;
}

body.noMask .eventPanel {
