body,
.tooltip,
select.menuBtn {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	font-weight: normal;
	line-height: normal;
	letter-spacing: normal;
}


.clear {
	clear: both;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}


div#wrapper {
	margin: auto;
	width: 700px;
	padding: 20px 0 0 220px;
	overflow: hidden;
}


div#notifications {
	top: 20px;
	left: 0px;
	height: 700px;
	width: 200px;
	overflow: hidden;
}


div.button {
	text-align: center;
	border: 1px solid black;
	width: 100px;
	margin-bottom: 5px;
	padding: 5px 10px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.upBtn,
.dnBtn,
.upManyBtn,
.dnManyBtn {
	width: 14px;
	height: 12px;
	cursor: pointer;
}


div.tooltip {
	display: none;
	padding: 2px 5px;
	border: 1px solid black;
	position: absolute;
	box-shadow: -1px 3px 2px #666;
	background: white;
	z-index: 999;
}


.eventPanel {
	background: none repeat scroll 0 0 white;
	border: 2px solid transparent;
	padding: 20px;
	position: absolute;
	top: 90px;
	width: 335px;
	z-index: 20;
}
