/* Vessel section */
.vessel-section div {
  width: 70px;
}

.hull-info {
  /* Specific to hull info width */
  width: 70px;
}

.engine-info {
  /* Specific to engine info width */
  width: 70px;
  margin-bottom: 20px;
}
