{
  "presets": [
    "@babel/preset-env",
    {
      "targets": {
        "ie": "9",
        "android": "4"
      },
      "useBuiltIns": "entry",
      "corejs": "3.22",
      "forceAllTransforms": true
    }
  ]
}
