/* Base styles */
.pointer:hover {
	cursor: pointer;
}

.default,
.disabled {
	cursor: default !important;
}

.no-select {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Text styles */
.text-red {
	color: red;
}

.text-bold {
	font-weight: bold;
	text-decoration: underline;
}

.text-green {
	color: #00b200;
}

/* Header styles */
.header-large {
	font-size: 20px;
}

/* Table styles */
.achievement-td {
	padding: 0;
	background-color: white !important;
}
