/* Set default font size and margins for the body tag */
body {
  font-size: 16px;
  margin: 0;
}

/* Define CSS variables for repeated values */
:root {
  --border-width: 1px;
  --border-color: black;
  --padding: 5px;
  --text-align: center;
  --background-color-dark: #5B6073;
  --background-color-light: #F5F5F5;
  --color-dark: white;
  --color-light: black;
}

/* Reset margin and padding for some elements */
.reset-margin {
  margin: 0;
  padding: 0;
}

/* Display elements as table cells */
.display-table-cell {
  display: table-cell;
}

/* Set maximum width for some elements */
.max-width {
  max-width: 100%;
}

/* Define styles for the layout */
#settingsRow {
  position: fixed;
  bottom: 0;
  background-color: var(--background-color-dark);
  width: 100%;
  left: 0;
  height: 30px;
}

#settingsTable {
  width: 100%;
}

#buyCol {
  height: 100%;
}

#wrapper {
  padding: 15px;
  height: 100%;
}

.thing {
  border: var(--border-width) solid var(--border-color);
}

.grid {
  width: 100%;
  height: 100%;
}

.battleCell {
  width: 10%;
  height: 10%;
}

.pointer {
  cursor: pointer;
}

.inline {
  display: inline-block;
}

.playerGather {
  font-size: 1.2em;
  text-align: var(--text-align);
  width: 100%;
  height: 96%;
  border: var(--border-width) solid var(--border-color);
  padding-bottom: 10px;
}

.progress {
  margin-bottom: 0;
}

.title {
  font-weight: bold;
  font-size: 1.4em;
}

#rightCol {
  height: 100%;
}

#topRow {
  height: 18%;
  min-height: 180px;
}

.ownedArea {
  font-size: 1.3em;
}

#bottomRow {
  height: 75%;
  min-height: 500px;
}

#leftMenu {
  height: 100%;
  padding: 10px;
  padding-top: 0;
}

.buyTitle {
  font-size: 1.5em;
  cursor: pointer;
}

.colDiv {
  text-align: var(--text-align);
  font-size: 1.2em;
}

.message {
  display: block;
  margin-top: 5px;
  font-size: 1.3em;
}

#logContainer {
  margin-top: 10px;
  width: 100%;
  border: 2px solid black;
  padding-top: 5px;
}

.titleRow {
  margin: 0;
  margin-bottom: 5px;
  color: var(--color-dark);
  border-bottom: 2px solid black;
}

.buyHere {
  height: 150px;
  padding: var(--padding);
  overflow-y: auto;
}

.thing {
  display: inline-block;
  width: 30%;
  padding: var(--padding);
  text-align: var(--text-align);
  background-color: var(--background-color-dark);
  color: var(--color-dark);
  font-size: 1.2em;
  border: 1px solid var(--color-light);
}

.queueItem {
  display: inline-block;
  font-size: .9em;
  border: 1px solid black;
  cursor: pointer;
  text-align: var(--text-align);
  padding: 2px;
}

#fireBtn {
  margin-top: 5px;
  min-width: 60%;
  padding: 4px;
}

#structuresCollectBtn {
  min-width: 60%;
  padding: 4px;
}

#scienceCollectBtn {
  min-width: 60%;
  padding: 4px;
}

#structuresQueue {
  height: 50px;
  overflow-y: auto;
}

#noQueue {
  font-size: 1.4em;
}

.queueItem:nth-child(0) {
  border: 1px solid yellow;
}

#structures {
  text-align: var(--text-align);
}

.queue {
  padding: 3px;
  color: var(--color-dark);
}

#trimpTrapText {
  font-size: .75em;
}

.buyBox {
  border: 2px solid black;
  margin: 0 0 5px 0;
}

.collecting {
  padding: 6px;
}

#log {
