/* General styles */
body {
  overflow: hidden;
}

.window {
  resize: both;
  overflow: hidden;
  position: absolute;
  border: 2px solid darkgrey;
  background-color: #DDD;
  cursor: default;
  min-width: 20px;
  min-height: 20px;
  padding: 0px;
  z-index: 1000;
}

.window * {
  box-sizing: border-box;
}

/* Window bar styles */
.windowbar {
  font-family: sans-serif;
  user-select: none;
  width: calc(100% - 4px);
  padding: 2px;
  height: 16px;
  line-height: 16px;
  color: black;
  background-image: url("bar.png");
  font-size: 12px;
  border-bottom: 2px solid darkgrey;
  overflow: hidden;
}

/* Window icons and controls */
.window-controls {
  position: relative;
  height: 100%;
  width: 100%;
}

.windowicon,
.windowclose {
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: 0;
}

.windowicon {
  left: 2px;
}

.windowtitle {
  position: relative;
  left: 18px;
}

.windowclose {
  right: 2px;
  background-color: tomato;
  border: 1px outset lightgray;
}

.windowclose:active {
 
