/* PAGE ELEMENTS */

/**
 * Defines the style for the menu cell.
 * It has a background color of #001d00,
 * is vertically aligned to the top, has a height of 600px,
 * and a color of #000000.
 */
.menuCell
{
    background-color: #001d00;
    vertical-align: top;
    height: 600px;
    color: #000000;
}

/**
 * Defines the style for the instructions.
 * It has a margin of 0 5, font size of 15px,
 * font family of VT323, color of #008000,
 * background color of #000d00, border of 1px solid #008000,
 * border radius of 5px, padding of 5px, width of 140,
 * and displays the instructions for the game.
 */
.instructions
{
    margin: 0 5;
    font-size: 15px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px;
    width: 140;
}

/**
 * Defines the style for the menu.
 * It has a width of 160px.
 */
.menu
{
    width: 160px;
}

/**
 * Defines the style for the menu logo.
 * It has a width of 150px, margin of 5 5,
 * text-align of center, and displays the game logo.
 */
.menuLogo
{
    width: 150px;
    margin: 5 5;
    text-align: center;
}

/**
 * Defines the style for the menu item.
 * It has a font family of VT323, margin of 0 auto,
 * border of 1px solid #008000, border radius of 5px,
 * background color of #000d00, color of #008000,
 * padding of 5px, width of 140px, font size of 18px,
 * and displays the options for the game.
 */
.menuItem
{
    font-family: VT323;
    margin: 0 auto;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #000d00;
    color: #008000;
    padding: 5px;
    width: 140px;
    font-size: 18px;
}

/**
 * Defines the style for the score area.
 * It has a width of 500px.
 */
.scoreArea
{
    width: 500px;
}

/**
 * Defines the style for the play again button.
 * It has a font family of VT323, text-align of center,
 * margin of 0 auto, border of 1px solid #008000,
 * border radius of 5px, background color of #000d00,
 * color of #008000, padding of 5px, width of 140px,
 * font size of 18px, and is used to start a new game.
 */
.playAgainButton
{
    font-family: VT323;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #008000;
    border-radius: 5px;
    background-color: #000d00;
    color: #008000;
    padding: 5px;
    width: 140px;
    font-size: 18px;
}

/**
 * Defines the style for the bare link.
 * It has no text decoration for link, active, and visited states.
 */
a.bareLink:link, a.bareLink:active, a.bareLink:visited
{
    text-decoration: none;
}

/**
 * Defines the style for the selected menu item.
 * It has a color of #000d00 and background color of #008000.
 */
.selectedMenuItem
{
    color: #000d00;
    background-color: #008000;
}

/**
 * Defines the style for the menu item when hovered.
 * It has a color of #c0c0c0.
 */
.menuItem:hover
{
    color: #c0c0c0;
}

/**
 * Defines the style for the body.
 * It has a background color of #000000.
 */
body
{
    background-color: #000000;
}

/**
 * Defines the style for the about text.
 * It has a margin of 5 5, font size of 16px,
 * font family of VT323, color of #008000,
 * background color of #000d00, border of 1px solid #008000,
 * border radius of 5px, padding of 5px, width of 580,
 * and displays information about the game.
 */
.aboutText
{
    margin: 5 5;
    font-size: 16px;
    font-family: VT323;
    color: #008000;
    background-color: #000d00;
    border: 1px solid #008000;
    border-radius: 5px;
    padding: 5px;
    width: 580;
}

/**
 * Defines the style for the content cell.
 * It has
