/* Define a custom font face */
@font-face {
  font-family: Metrickal;
  src: url(Metrickal-Regular.otf);
}

/* Apply box-sizing to all elements */
* {
  box-sizing: border-box;
}

/* Set the line-height, margin, font-family, color, and background-color for the body element */
body {
  line-height: 1.2;
  margin: 0;
  font-family: Metrickal, monospace;
  color: #aaa;
  background-color: #000;
}

/* Position all direct children of the body element absolutely and apply a transition effect to their opacity */
body > * {
  position: absolute;
  transition: opacity 2000ms;
}

/* Style the unordered list element */
ul {
  margin: 1.2em 0;
  padding-left: 4ch;
}

/* Hide elements with the "hidden" class */
.hidden {
  opacity: 0;
}

/* Set the opacity of elements with the "inactive" class to 0.5 */
.inactive {
  opacity: 0.5;
}

/* Style the #intro element */
#intro {
  font-size: 18px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

/* Apply media queries to adjust the font-size of the #intro element based on the screen size */
@media (max-height: 600px), (max-width: 830px) {
  #intro {
    font-size: 16px;
  }
}

@media (max-height: 530px), (max-width: 750px) {
  #intro {
    font-size: 14px;
  }
}

@media (max-height: 470px), (max-width: 680px) {
  #intro {
    font-size: 12px;
  }
}

/* Style the children of the #intro element */
#intro > * {
  position: absolute;
}

/* Style the .title child of the #intro element */
#intro .title {
  white-space: pre;
  left: 2ch;
  top: 1.2em;
  color: goldenrod;
}

/* Style the .tower child of the #intro element */
#intro .tower {
  white-space: pre;
  right: 6ch;
  bottom: 4.2em;
}

/* Style the span elements within the .tower child of the #intro element */
#intro .tower span:not(.transparent) {
  background-color: #222;
}

/* Style the .text child of the #intro element */
#intro .text {
  left: 16ch;
  right: 28ch;
  bottom: 6.6em;
}

/* Style the span elements within the .text child of the #intro element */
#intro .text span {
  color: #fff;
}

/* Style the .bottom child of the #intro element */
#intro .bottom {
  bottom: 3em;
  right:
