/* CSS variables */
:root {
  --light-logo: url('progressLogo.Light.png');
  --dark-logo: url('progressLogo.Dark.png');
  --empty: url('progressEmpty.Light.png');
  --full: url('progressFull.Light.png');
  --empty-dark: url('progressEmpty.Dark.png');
  --full-dark: url('progressFull.Dark.png');
  --webgl-logo: url('webgl-logo.png');
  --fullscreen: url('fullscreen.png');
}

/* General styles */
.webgl-content * {
  border: 0;
  margin: 0;
  padding: 0;
}

.webgl-content .logo,
.progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.webgl-content .logo {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 154px;
  height: 130px;
}

.webgl-content .progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
}

.webgl-content .progress .empty,
.webgl-content .progress .full {
  height: 100%;
  display: inline-block;
}

.webgl-content .progress .empty {
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  float: right;
  width: 100%;
}

.webgl-content .progress .full {
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  float: left;
  width: 0%;
}

/* Dark mode styles */
.webgl-content .logo.Dark,
.webgl-content .progress.Dark .empty,
.webgl-content .progress.Dark .full {
  background-image: var(--dark-logo), var(--empty-dark), var(--full-dark);
}


