/* Set the background color of the body element to black */
body {background-color: black;}

/* Apply some default styles to all elements within .webgl-content */
.webgl-content * {border: 0; margin: 0; padding: 0}

/* Position and center the .webgl-content container */
.webgl-content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%); /* For Webkit-based browsers like Safari and Chrome */
  transform: translate(-50%, -50%); /* For modern browsers */
}

/* Style and position the logo and progress bar within .webgl-content */
.webgl-content .logo,
.webgl-content .progress {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Set the background image, size, and dimensions for the logo */
.webgl-content .logo {
  background: url('progressLogo.Light.png') no-repeat center / contain;
  width: 154px;
  height: 130px;
}

/* Style the progress bar and its two components: .empty and .full */
.webgl-content .progress {
  height: 18px;
  width: 141px;
  margin-top: 90px;
}
.webgl-content .progress .empty {
  background: url('progressEmpty.Light.png') no-repeat right / cover;
  float: right;
  width: 100%;
  height: 100%;
  display: inline-block;
}
.webgl-content .progress .full {
  background: url('progressFull.Light.png') no-repeat left / cover;
  float: left;
  width: 0%;
  height: 100%;
  display: inline-block;
}

/* Dark mode variations for the logo and progress bar components */
.webgl-content .logo.Dark {background-image: url('progressLogo.Dark.png');}
.webgl-content .progress.Dark .empty {background-image: url('progressEmpty.Dark.png');}
.webgl-content .progress.Dark .full {background-image: url('progressFull.Dark.png');}

/* Style the footer with a fixed height, line-height, and font settings */
.webgl-content .footer {
  margin-top: 5px;
  height: 
