/* Define global styles */
body {
  padding-top: 40px; /* Add top padding to the body element */
}

* {
  border-radius: 0 !important; /* Remove border-radius from all elements */
}

a, button {
  transition:all 0.2s; /* Add a smooth transition effect to links and buttons */
  -webkit-transition:all 0.2s; /* Ensure compatibility with webkit-based browsers */
}

h1 br {
  display: none; /* Hide the line break in h1 elements */
}

.pc-icon {
  background: url('../assets/pc32sw.png') no-repeat 10px center; /* Set the background image for .pc-icon elements */
  padding-left: 50px; /* Add padding to accommodate the background image */
}

.pc-icon:hover {
  background-image: url('../assets/pc32.png'); /* Change the background image on hover */
}

/* Style the detector element */
#detector {
  cursor: pointer; /* Make the detector element clickable */
  margin: 0 auto; /* Center the element horizontally */
  position: relative; /* Position the element relative to its parent */
}

#detector canvas {
  background: transparent; /* Make the canvas background transparent */
  position: absolute; /* Position the canvas absolutely */
  left: 0;
  top: 0;
}

/* Style the detector core and events elements */
#detector-core {
   z-index: 0; /* Set the z-index to 0 */
}

#detector-events {
   z-index: 1; /* Set the z-index to 1 */
}

/* Style the detector info element */
#detector-info {
  z-index: 10; /* Set the z-index to 10 */
  position: absolute; /* Position the element absolutely */
}

/* Style scrollable elements */
.scrollable {
  overflow: auto; /* Enable scrolling */
}

/* Style research icons */
.research-icon {
  float: left; /* Float the icon to the left */
  margin-right: 10px; /* Add margin to separate the icon from the text */
}

/* Style achievements container */
#achievements-container {
  position: fixed; /* Fix the container to the bottom right corner */
  bottom: 0px;
  right: 0px;
}

/* Style messages container */
#messages-container {
  position: fixed; /* Fix the container to the bottom left corner */
  bottom: 0px;
  left: 0px;
}

/* Style alerts in achievements and messages containers */
#achievements-container .alert,
#messages-container .alert {
  margin-bottom: 10px; /* Add margin to separate alerts */
  position: relative; /* Position the alert relative to its parent */
}

#achievements-container .alert-glyph,
#messages-container .alert-glyph {
  float:left; /* Float the alert glyph to the left */
  font-size: 20px; /* Set the font size of the glyph */
  margin-right: 10px; /* Add margin to separate the glyph from the text */
}

#achievements-container .alert-text,
#messages-container .alert-text {
  font-size: 14px; /* Set the font size of the alert text */
}

#achievements-container .alert-text {
  font-weight: bold; /* Make the alert text bold */
}

/* Style messages container buttons */
#messages-container .btn {
  float:right; /* Float the button to the right */
  font-weight: bold; /* Make the button text bold */
}

/* Style mobile orientation container */
#mobile-orientation-container {
  position: fixed; /* Fix the container to the center of the screen */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff; /* Set the background color to white */
  display: none; /* Hide the container initially */
  padding-top: 50%; /* Add padding to accommodate the message */
  z-index: 100; /* Set the z-index to 100 */
}

/* Style mobile orientation message */
#mobile-orientation-message {
  text-align: center; /* Center the text */
  margin: auto auto; /* Center the message horizontally and vertically */
  color: #777; /* Set the text color to gray */
  font-size: 18px; /* Set the font size of the message */
  padding: 15px; /* Add padding to the message */
}

/* Style status elements */
.status strong {
  color: #666; /* Set the text color to gray */
}

/* Style update value elements */
.update-value {
  position: absolute; /* Position the element absolutely */
  right: 1em; /* Align the element to the right */
  top: 1.42857em; /* Vertically align the element */
  height: 1.42857em; /* Set the height of the element */
}

/* Style update plus and minus elements */
.update-plus,
.update-minus {
  color: green; /* Set the text color to green */
  float: left; /* Float the element to the left */
  right: 5px; /* Align the element to the right */
  position: absolute; /* Position the element absolutely */
}

.update-plus {
  top: 0; /* Vertically align the element */
}

.update-minus {
  bottom: 0; /* Vertically align the element */
}

/* Style labname element */
#labname {
  border: 0px; /* Remove border from the element */
  padding: 0 4px; /* Add padding to the element */
  margin-top: 20px; /* Add margin
