/* Global styles */
body {
  font: 12pt Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background: url(images/paving.jpg);
}

/* Unique ID-based styles */
#breakout {
  position: relative;
}

#canvas {
  transform: translateZ(0); /* Force hardware acceleration in Chrome */
}

#levels {
  position: absolute;
  left: 10px;
  top: 10px;
  color: #666;
  line-height: 20px;
}

#levels img {
  cursor: pointer;
}

#instructions {
  background: #DDD;
  border: 2px solid #333;
  color: #555;
  padding: 0.5em 1em;
  white-space: nowrap;
  text-align: center;
  width: 18em;
  margin: 0 auto;
  position: relative;
  top: -16em;
}

#controls {
  position: absolute;
  bottom: 0.5em;
  left: 0.5em;
}

/* Class-based styles */
.unsupported {
  border: 1px solid yellow;
  color: black;
  background-color: #FFFFAD;
  padding: 2em;
  margin: 5em;
  display: inline-block;
}

/* Media query-based layout */
@media screen and (min-width: 0px) {
  #breakout,
  #canvas {
    width: 640px;
    height: 480px;
  }

  #instructions {
    font-size: 8pt;
  }
}

@media screen and (min-width: 1200px) {
  #breakout,
  #canvas {
    width: 800px;
    height: 600px;
  }

  #instructions {
    font-size: 10pt;
  }
}

@media screen and (min-width: 1600px) {
  #breakout,
  #canvas {
    width: 1024px;
    height: 768px;
  }

  #instructions {
    font-size: 11pt;
  }
}
