/* General Styles */
body {
  background-color: white;
}

span.intLink, #chessClosePanel {
  cursor: pointer;
}

a, span {
  text-decoration: none;
  -moz-user-select: none;
  color: #000000;
  cursor: default;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

div {
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

/* Chess Board Styles */
#chessboardsBox {
  position: relative;
  margin: 0 auto;
  overflow: visible;
  background-color: #87a1c0;
  border: 1px #76808C solid;
}

#chessSizeHandle {
  background-color: transparent;
  color: #333333;
  font-size: 24px;
  line-height: 24px;
  width: auto;
  height: auto;
  position: absolute;
  right: -12px;
  bottom: -12px;
  float: right;
  cursor: se-resize;
}

#chess3DBox, #chess2DBox {
  width: 50%;
  height: 400px;
  float: left;
}

/* Control Panel Styles */
#chessCtrlPanel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140px;
  height: auto;
  overflow: hidden;
  background-color: #404d4f;
  color: #ffffff;
  font-size: 12px;
  font-family: Tahoma, Arial, Verdana, Helvetica;
  box-shadow: 3px 3px red, -8px -2px 8px #2d3637;
}

#chessCtrlPanel form {
  clear: both;
}

#chessClosePanel {
  width: auto;
  height: auto;
  margin: 0 12px 1px auto;
  float: right;
}

#chessCtrlPanel p {
  margin-top: 6px;
  text-align: center;
}

/* Notification Styles */
div.gnotify {
  position: fixed;
  z-index: 10000001;
}

div.gnotify div {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.85;
  filter: alpha(opacity=85);
  width: 235px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
  display: none;
}

div.gnotify div.header {
  font-weight: bold;
  font-size: 10px;
}

div.gnotify div.close {
  float: right;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}

/* Chess Info Styles */
#chessInfo {
  width: 92%;
  height: 120px;
  padding: 4px;
  font-family: Courier New, Courier;
  font-size: 12px;
}

#chessMoves, #chessAlgebraic {
  border: 1px solid #778284;
  background-color: transparent;
  color: #ffffff;
  box-shadow: inset 2px 2px 5px black, 2px 2px 5px black;
}

#chessAlgebraic {
  width: 90%;
  margin-top: 3px;
  font-size: 11px;
}

#chessInfo p {
  text-align: center;
  margin: 6px 4px 6px 4px;
}

/* Curtain Styles */
#chessCurtain {
  display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #000000;
  opacity: 0.5;
  filter: alpha(opacity=50);
  z-index: 10000002;
}

#chessLoading {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  border: 1px #000000 solid;
  color: #ffff00;
}
