/* General Styles */

/* Sets the background color of the body element */
body {
  background-color: white;
}

/* Sets the cursor to a pointer when hovering over elements with the classes 'intLink' or 'chessClosePanel' */
span.intLink, #chessClosePanel {
  cursor: pointer;
}

/* Sets the text decoration, color, and cursor for anchor tags and span elements */
a, span {
  text-decoration: none;
  color: #000000;
  cursor: default;
}

/* Sets the font family and size for div and span elements */
div, span {
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
}

/* Sets the border radius for div elements */
div {
  border-radius: 5px;
}

/* Chess Board Styles */

/* Sets the position, margin, overflow, background color, and border for the 'chessboardsBox' element */
#chessboardsBox {
  position: relative;
  margin: 0 auto;
  overflow: visible;
  background-color: #87a1c0;
  border: 1px #76808C solid;
}

/* Sets the styles for the 'chessSizeHandle' element */
#chessSizeHandle {
  background-color: transparent;
  color: #333333;
  font-size: 24px;
  line-height: 24px;
  width: auto;
  height: auto;
  position: absolute;
  right: -12px;
  bottom: -12px;
  float: right;
  cursor: se-resize;
}

/* Sets the width, height, float, and overflow for the 'chess3DBox' and 'chess2DBox' elements */
#chess3DBox, #chess2DBox {
  width: 50%;
  height: 400px;
  float: left;
}

/* Control Panel Styles */

/* Sets the position, width, height, overflow, background color, color, font size, and box-shadow for the 'chessCtrlPanel' element */
#chessCtrlPanel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 140px;
  height: auto;
  overflow: hidden;
  background-color: #404d4f;
  color: #ffffff;
  font-size: 12px;
  font-family: Tahoma, Arial, Verdana, Helvetica;
  box-shadow: 3px 3px red, -8px -2px 8px #2d3637;
}

/* Sets the styles for the form element inside 'chessCtrlPanel' */
#chessCtrlPanel form {
  clear: both;
}

/* Sets the styles for the 'chessClosePanel' element */
#chessClosePanel {
  width: auto;
  height: auto;
  margin: 0 12px 1px auto;
  float: right;
}

/* Sets the styles for the paragraph elements inside 'chessCtrlPanel' */
#chessCtrlPanel p {
  margin-top: 6px;
  text-align: center;
}

/* Notification Styles */

/* Sets the position, z-index, background color, color, width, padding, margin, font family, font size, text align, border radius, and display for the 'gnotify' element and its child div elements */
div.gnotify {
  position: fixed;
  z-index: 10000001;
}

div.gnotify div {
  background-color: #000000;
  color: #ffffff;
  opacity: 0.85;
  filter: alpha(opacity=85);
  width: 235px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Tahoma, Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-align: left;
  border-radius: 5px;
  display: none;
}

/* Sets the styles for the 'header' class inside the child div elements of 'gnotify' */
div.gnotify div.header {
  font-weight:
