.button {
  width: 100px;
}

.wide-button {
  width: 115px;
}

.extra-wide-button {
  width: 122px;
}

#outsidePanel .button {
  @extend .wide-button;
}

.eventPanel .button {
  @extend .extra-wide-button;
}
